.background {
  viewport-fill: black;
}

#name {
  fill: white;
  font-size: 32;
  font-family: System-Bold;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
  text-overflow: ellipsis;
}

#stationboard{
  fill: white;
  font-family:System-Regular;
}

.time{
  x: 220;
  y: 72;
}

.destination{
  text-length:13;
  width:230;
}